<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <a class="navbar-brand" href="/"></a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          {{#if user}} <!-- Changed from email to user -->
            <a class="nav-link" href="/home">Home</a>
          {{else}}
            <a class="nav-link" href="/login">Home</a>
          {{/if}}
        </li>
        <li class="nav-item">
          {{#if user}}
            <a class="nav-link" href='/mcq'>Quiz</a>
          {{else}}
            <a class="nav-link" href='/login'>Quiz</a>
          {{/if}}
        </li>
        <li class="nav-item">
          {{#if user}}
            <a class="nav-link" href='/coding'>Coding Practice</a>
          {{else}}
            <a class="nav-link" href='/login'>Coding Practice</a>
          {{/if}}
        </li>
        <li class="nav-item">
          {{#if user}}
            <a class="nav-link" href='/flashcards'>Flashcards</a>
          {{else}}
            <a class="nav-link" href='/login'>Flashcards</a>
          {{/if}}
        </li>
        <li class="nav-item">
          {{#if user}}
            <a class="nav-link" href='/profile'>Profile</a>
          {{else}}
            <a class="nav-link" href='/login'>Profile</a>
          {{/if}}
        </li>
      </ul>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ms-auto">
        {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href='/logout'>Log Out</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href='/login'>Log In</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </nav>
</header>
