<div class="container">
    <h1>Flashcards Overview</h1>
</div>

{{!-- Input: json array of user's flashcards objects --}}
{{#each decks}}
<div class="container">
  <div class="row">
    <h2>{{name}}</h2>
    <button type="button" "btn btn-primary" data-bs-toggle="modal" data-bs-target="#deck_modal">Edit Deck</button>
    {{#each cards}}

    <div class="container">
        <div class="col">
            <div class="card flashcard">
                <div class="card-body" onclick="flipCard()">
                    {{!-- Switch between card sides --}}
                    {{#if show_front}}
                        <h1>{{back}}</h1>
                    {{else}}
                        <p>{{front}}</p>
                    {{/if}}
                    <button type="button" "btn btn-primary" data-bs-toggle="modal" data-bs-target="#card_modal">Edit Card</button>
                </div>
            </div>
        </div>

    </div>
    {{else}}

    {{!-- No cards --}}
    <p>This deck is empty</p>
    
    {{/each}}

  </div>
</div>

<!-- Edit deck -->
<div id="deck_modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Edit Deck</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="deck_form" action="/flashcards/edit-deck" method="POST">

            {{!-- Send deck id --}}
            <input type="hidden" name="deck_id" value={{id}}>

            {{!-- Change name --}}
            <div class="form-group">
                <label for="name" class="form-label">Deck Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Delete</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        </div>
        </div>
    </div>
</div>

<!-- Edit card -->
<div id="card_modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Edit Flashcard</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="card_form" onsubmit="editCards()">

            {{!-- Send corresponding deck id --}}
            <input type="hidden" name="deck_id" value={{decks.id}}>

            {{!-- Change card front --}}
            <div class="form-group">
                <label for="front" class="form-label">Front</label>
                <input type="text" class="form-control" id="front" required>
            </div>

            {{!-- Change card back --}}
            <div class="form-group">
                <label for="back" class="form-label">Back</label>
                <input type="text" class="form-control" id="back" required>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-secondary">Delete</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        </div>
        </div>
    </div>
    </div>

{{else}}

{{!-- No decks --}}
<div class="container">
    <h2>You don't have any flashcards :(</h2>
    <p>Interact with the <a href='/coding'>Coding Practice</a> and <a href='/quiz'>Quiz</a> or click below to get some</p>
</div>
<form id="add_cards" action="/flashcards/add-cards" method="POST">
<button type="submit" class="btn btn-primary">Add Cards!</button>
</form>

{{/each}}