<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Coding Buddy</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/resources/css/homePage.css">
</head>
<body>
  <!-- Carousel Header -->
  <div class="carousel-header">
    <div class="carousel">
      <img src="../../resources/img/home/home1.jpg" alt="Header Image 1">
      <img src="../../resources/img/home/home2.jpg" alt="Header Image 2">
      <img src="../../resources/img/home/home3.avif" alt="Header Image 3">
      <img src="../../resources/img/home/home4.jpg" alt="Header Image 4">
      <a href="#" class="prev">&#10094;</a>
      <a href="#" class="next">&#10095;</a>
    </div>
    <div class="header-content">
      <h1>Coding Buddy</h1>
    </div>
  </div>

  <!-- Slogan -->
  <section class="slogan">
    <p>For students struggling to learn code, Coding Buddy is tailored to your learning needs.</p>
  </section>

  <!-- Rows -->
  <div class="container">
    <!-- Mission -->
    <div class="info-row">
      <div class="text-box">
        <h2><i class="bi bi-flag"></i> Mission</h2>
        <p>Coding Buddy is an online tool targeted towards up-and-coming computer science students to help them learn and improve their knowledge on a vast majority of computer science topics.</p>
        <p>We believe that tailoring learning to the individual is the most effective method to achieve mastery of a subject. That is why learning on Coding Buddy takes into account your own personal pre-requisite knowledge.</p>
      </div>
      <div class="image-box">
        <img src="../../resources/img/home/mission.jpg" alt="Mission Image">
      </div>
    </div>

    <!-- How it works -->
    <div class="info-row">
      <div class="text-box">
        <h2><i class="bi bi-gear"></i> How it works</h2>
        <p>Coding Buddy's learning algorithm focuses on topics you struggle with. Our MC test system identifies incorrect answers, then tailors practice questions and flashcards to those concepts.</p>
        <p>To get started, go to the MC Test tab and complete the test. Your results show which topics to focus on next. Then practice with Flashcards or Coding Questions. Once confident, retake the test to solidify mastery.</p>
        <p>The more active you are on the website, the more points you earn. Climb to the top of the leaderboard and master all the vital Computer Science skills!</p>
      </div>
      <div class="image-box">
        <img src="../../resources/img/home/table2.jpg" alt="How it works Image">
      </div>
    </div>

    <!-- To-Do -->
    <div class="info-row">
      <div class="text-box">
        <h2 class="todo">
          <i class="bi bi-star"></i> To‑Do
        </h2>
        <div class="toDo-box">
          <div class="label"><a href="/mcq">Quiz Question Completed</a>: {{mcPercentage}}%</div>
          <div class="progress-container">
            <div class="progress-bar"><div class="fill" style="width: {{mcPercentage}}%;"></div></div>
          </div>
        </div>
        <div class="toDo-box">
          <div class="label"><a href="/coding">Practice Problems Completed</a>: {{codingPercentage}}%</div>
          <div class="progress-container">
            <div class="progress-bar"><div class="fill" style="width: {{codingPercentage}}%;"></div></div>
          </div>
        </div>
      </div>
      <div class="image-box">
        <img src="../../resources/img/home/toDo.jpg" alt="To-Do Image">
      </div>
    </div>

    <!-- Leaderboard -->
    <div class="info-row">
      <div class="text-box">
        <h2><i class="bi bi-lightning-charge"></i> Leaderboard</h2>
        <div class="podium-container">
          <div class="podium-box podium-second">
            <div class="podium-position">2</div>
            <div class="podium-info">
              {{#if topUsers.[1]}}
                <div class="username">{{topUsers.[1].username}}</div>
                <div class="points">{{topUsers.[1].points}} pts</div>
              {{else}}
                <div class="username">--</div>
                <div class="points">0 pts</div>
              {{/if}}
            </div>
          </div>
          <div class="podium-box podium-first">
            <div class="podium-position">1</div>
            <div class="podium-info">
              {{#if topUsers.[0]}}
                <div class="username">{{topUsers.[0].username}}</div>
                <div class="points">{{topUsers.[0].points}} pts</div>
              {{else}}
                <div class="username">--</div>
                <div class="points">0 pts</div>
              {{/if}}
            </div>
          </div>
          <div class="podium-box podium-third">
            <div class="podium-position">3</div>
            <div class="podium-info">
              {{#if topUsers.[2]}}
                <div class="username">{{topUsers.[2].username}}</div>
                <div class="points">{{topUsers.[2].points}} pts</div>
              {{else}}
                <div class="username">--</div>
                <div class="points">0 pts</div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <div class="image-box">
        <img src="../../resources/img/home/trophy.jpg" alt="Leaderboard Image">
      </div>
    </div>
  </div>

  <!-- Carousel Script -->
  <script>
    const images = document.querySelectorAll('.carousel img');
    let idx = 0;
    function showImage(i) { images.forEach((img,j) => img.classList.toggle('active', j===i)); }
    document.querySelector('.next').addEventListener('click', e=>{e.preventDefault(); idx=(idx+1)%images.length; showImage(idx);});
    document.querySelector('.prev').addEventListener('click', e=>{e.preventDefault(); idx=(idx-1+images.length)%images.length; showImage(idx);});
    setInterval(()=>{ idx=(idx+1)%images.length; showImage(idx); },5000);
    showImage(0);
  </script>
</body>
</html>