<div class="container mt-5">
  {{#if message}}
    <div class="alert alert-{{message.type}}">{{message.text}}</div>
  {{/if}}
  <div class="row">
    <!-- Profile Picture Card -->
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm" style="border-radius: 15px;">
        <div class="card-body text-center">
          <img src="{{avatar}}" alt="Profile Picture" class="img-fluid rounded-circle mb-3" style="width: 198px; height: 198px; border: 5px solid #f0f0f0;">
          <h5 class="card-title" style="font-size: 3rem; font-weight: bold;">{{name}}</h5>
        </div>
      </div>
    </div>

    <!-- User Information Card -->
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm" style="border-radius: 15px;">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 1.5rem; font-weight: bold; margin-bottom: 1.5rem;">User Information</h5>
          <p class="card-text"><strong>Name:</strong> {{name}}</p>
          <p class="card-text"><strong>Username:</strong> {{username}}</p>
          <p class="card-text"><strong>Email:</strong> {{email}}</p>
          <a href="/profile/edit" class="btn btn-primary mt-3" style="width: 100%;">Edit Profile</a>
          <a href="/profile/change-password" class="btn btn-primary mt-3" style="width: 100%;">Change Password</a>
        </div>
      </div>
    </div>

    <!-- Points and Leaderboard Card -->
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm" style="border-radius: 15px;">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 1.5rem; font-weight: bold; margin-bottom: 1.5rem;">Achievements</h5>
          <p class="card-text">You have completed <strong style="color: #ffc107;">{{codingQuestionsPercent}}%</strong> of the coding problems on Coding Buddy!</p>
          <p class="card-text">You have earned <strong style="color: #28a745;">{{points}}</strong> points from coding problems!</p>
          <p class="card-text">You are rank <strong style="color: #007bff;">{{leaderboardPosition}}</strong> out of <strong style="color: #007bff;">{{totalUsers}}</strong> users on Coding Buddy!</p>
        </div>
      </div>
    </div>

    <!-- Daily Streak Card -->
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm" style="border-radius: 15px;">
        <div class="card-body" style="height:187px">
          <h5 class="card-title" style="font-size: 1.5rem; font-weight: bold; margin-bottom: 1.5rem;">Daily Streak</h5>
          <p class="card-text" style="font-size: 1.3rem;">You are on a <strong style="color: #ffc107; font-size: 1.7rem;">{{streak}}</strong> day streak!</p>
          <div class="progress mt-3" style="height: 25px; border-radius: 10px;">
            <div class="progress-bar bg-warning" role="progressbar" style="width: {{visualStreak}}%;" aria-valuenow="{{visualStreak}}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>